/* Fixing map container to fill available space correctly */
.map-wrapper {
  width: 100%;
  height: 70vh; /* Fixed height relative to viewport */
  min-height: 500px;
  margin: 2rem auto;
  position: fixed;
  margin-top: 250px;
 
 
}

.tooltip-card {
  position: fixed; /* Fixed instead of absolute to avoid clipping */
  transform: translate(-50%, -100%);
  /* background:  #fdfdfd;; */
  padding: 12px 16px;
  /* border: 1px solid #070707; */
  /* box-shadow: 0 4px 12px rgba(209, 204, 204, 0.15); */
  pointer-events: none;
  z-index: 100;
  min-width: 150px;
  text-align: center;
  /* border-radius: 40px; */
  
}

.tooltip-card h3 {
    color: #16a34a;
  font-size: 1.5rem;
   font-family: Cormorant Garamond;;
}
